.container {
}
.all {
}

.andro_img {
}
.andro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  row-gap: 2rem;
  padding-right: 20%;
  padding-left: 15%;
  margin-bottom: 4rem;
}

.andro_par {
  max-width: 30rem;
}

.andro_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.backend {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
  padding-right: 10%;
  padding-left: 15%;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.backend_img {
}
.backend_par {
  max-width: 20rem;
}

.backend_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.hw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
  padding-right: 10%;
  padding-left: 15%;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.hw_img {
}

.hw_par {
  max-width: 20rem;
}

.hw_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}
