.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.7rem;
    padding-left: 1rem;
  }
  
  .card {
    width: 100%;
  }
  
  .persen {
    padding-right: 1.5rem;
  }
  
  .prog {
    padding-bottom: 0;
  }
  