@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  font-family: Poppins, sans-serif;
  font-size: 0.938rem;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
p {
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.home--name {
  color: #40c057;
}

.home--data {
  align-self: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  padding-left: 6%;
}

.home--all {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  display: flex;
  flex-direction: row;
}

.home--image {
  padding-right: 20px;
  margin-top: 0px;
  width: 500px !important;
  flex-direction: flex-end;
}

.about--img {
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding-right: 5rem;
  margin-bottom: 2rem;
  width: 30rem !important;
}

.about--container {
  display: flex;
  padding-left: 7%;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: left;
  margin-bottom: 7rem;
}

.section--title {
  margin-bottom: 3rem;
  position: relative;
  font-size: 1rem;
  color: #40c057;
  margin-top: 1rem;
  text-align: center;
}

.about--sub {
  margin-bottom: 1rem;
}

.about--content {
  display: flex;
  flex-direction: row;
}

.about--text {
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
  text-align: left;
  width: 50%;
  max-width: 30rem;
  justify-content: center;
}

.exp--andro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  row-gap: 2rem;
  padding-right: 20%;
  padding-left: 15%;
  margin-bottom: 4rem;
}

.andro--par {
  max-width: 30rem;
}

.andro--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.exp--backend {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
  padding-right: 10%;
  padding-left: 15%;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.django--par {
  max-width: 20rem;
}

.django--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.exp--hardware {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
  padding-right: 10%;
  padding-left: 15%;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.hw--par {
  max-width: 20rem;
}

.hw--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}
@media screen and (max-width: 1255px) {

.home--data {
  align-self: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left: 6%;
  margin-top: 1rem;
}
}
@media screen and (max-width: 1149px) {
  
  .about--text {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;
    text-align: left;

    max-width: 25rem;
    margin-left: 16%;
    justify-content: center;
  }

  .about--container {
    display: flex;
    padding-left: 7%;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    row-gap: 1rem;
    text-align: center;
  }

  .about--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 2rem;
    max-width: 25rem;
  }

  .exp--andro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;
    padding: 10%;
    margin-bottom: 2rem;
  }

  .exp--backend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;
    padding: 10%;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .exp--hardware {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;
    padding: 10%;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .section--title {
    margin-bottom: 1.5rem;
    position: relative;
    font-size: 1rem;
    color: #40c057;
    margin-top: .5rem;
    text-align: center;
  }
}
